 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

.u-section-1 .u-text-1 {
  margin: 55px 34px 0 419px;
}

.u-section-1 .u-group-1 {
  width: 695px;
  background-image: none;
  min-height: 126px;
  height: auto;
  margin: 9px 26px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-7538-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-countdown-1 {
  margin: -89px auto 0 98px;
  padding: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 364px;
  height: 364px;
  margin: -178px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 695px;
  background-image: none;
  min-height: 239px;
  height: auto;
  margin: -212px 26px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-2 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-block-7538-50 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-icon-1 {
  color: rgb(215, 90, 74) !important;
  margin-left: 10px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 253px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 33px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -188px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 77px;
}

.u-section-2 .u-form-1 {
  width: 761px;
  left: auto;
  right: -103px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-label-2 {
  width: 100px;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 10px 19px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  margin: 16px 29px 16px auto;
  padding: 10px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}