.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

	
	.subject {width:5%}
	.subjecttext {width:77%}
	.password {width:8%}
	.passwordtext {width:10%}
	.title{background:#444444}
	
	.odd {background:silver}
	
	#bbs table{
	width: 1138px;
	padding-bottom: 4px;
	}
	
	#contentarea{
	border: 1px solid #bbbbbb;
	height: 500px;
	vertical-align: top;
	}
	
	#bbs table caption {
	    text-indent: -9999px;
	}
	
	table thead tr th {
	    color: white;
	}
	
	table tbody tr td{
		text-align: left;
	} 
	
	#q_title{
		width: 100%;
		color: black;
	}
	
	#q_pw{
		width: 100%;
		color: black;
	}
	
	.blank{
	width:2px;
	background: white;
	}
	.subject{
	width:100px;
	
	}
	.subject2{
	text-align: left;
	padding-left: 10px;
	}
	.writer{
	background:#444444;
	
	}
	.writer2{
	background:#444444;
	text-align: left;
	padding-left: 10px;
	width:500px;
	}
	.hit{
	background:#444444;
	width:100px;
	}
	.hit2{
	background:#444444;
	text-align: center;
	width:100px;
	}
	.date{
	background:#444444;
	width:100px;
	}
	.date2{
	background:#444444;
	text-align: center;
	width:180px;
	}
	
	#bbs table tbody .underthead{
	height:15px;
	border: 0px;
	}
	
	table tfoot ol.paging {
	    list-style:none;
	}
	
	table tfoot ol.paging li {
	    float:left;
	    margin-right:8px;
	}
	
	table tfoot ol.paging li a {
	    display:block;
	    padding:3px 7px;
	    border:1px solid #00B3DC;
	    color:#2f313e;
	    font-weight:bold;
	    text-decoration: none
	}
	
	table tfoot ol.paging li a:hover {
	    background:#00B3DC;
	    color:white;
	    font-weight:bold;
	    text-decoration: none
	}
	
	.disable {
	    padding:3px 7px;
	    border:1px solid silver;
	    color:silver;
	}
	
	.now {
	   padding:3px 7px;
	    border:1px solid #ff4aa5;
	    background:#ff4aa5;
	    color:white;
	    font-weight:bold;
	}
	
	.empty{
		height: 50px;
		color: #ababab;
	}
	
	#cancel{
	float: left;
	font-size: 16px;
	}
	
	#delete{
	float: right;
	font-size: 16px;
	}
	
	#edit{
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 16px;
	}
	
	#commentable{
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	border-collapse: collapse;
	
	}
	
	
	#commentable tr td{
	border: 1px solid #bbbbbb;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin: 0px;
	}
	
	
	
	#commentable tr td:nth-child(3){
	margin: 0px;
	padding: 0px; 
	}
	
	#commentwriter{
	width:102px;
	text-align: center;
	background:#444444;
	color: white;
	font-weight: bold;
	}
	
	#commentcontent{
	width: 976px;
	}
	
	#commentbutton{
	
	width: 60px;
	border-color: white !important;
	}
	
	#savebut{
	float:right;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
	
	#editecomment{
	margin-bottom:10px; 
	}
	
	.commentbutton{
	margin-left: 4px;
	margin-bottom: 5px;
	}