.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

	
	
	
	.subject {width:5%}
	.subjecttext {width:77%}
	.password {width:8%}
	.passwordtext {width:10%}
	.title{background:#444444}
	
	.odd {background:silver}
	
	#bbs table caption {
	    text-indent: -9999px;
	}
	
	table thead tr th {
	    color: white;
	}
	
	table tbody tr td{
		text-align: left;
	} 
	
	#q_title{
		width: 100%;
		color: black;
	}
	
	#q_pw{
		width: 100%;
		color: black;
	}
	#bbs table tbody #underthead{
	height:15px;
	border-left-color: white;
	border-right-color: white;
	}
	table tfoot ol.paging {
	    list-style:none;
	}
	
	table tfoot ol.paging li {
	    float:left;
	    margin-right:8px;
	}
	
	table tfoot ol.paging li a {
	    display:block;
	    padding:3px 7px;
	    border:1px solid #00B3DC;
	    color:#2f313e;
	    font-weight:bold;
	    text-decoration: none
	}
	
	table tfoot ol.paging li a:hover {
	    background:#00B3DC;
	    color:white;
	    font-weight:bold;
	    text-decoration: none
	}
	
	.disable {
	    padding:3px 7px;
	    border:1px solid silver;
	    color:silver;
	}
	
	.now {
	   padding:3px 7px;
	    border:1px solid #ff4aa5;
	    background:#ff4aa5;
	    color:white;
	    font-weight:bold;
	}
	
	.empty{
		height: 50px;
		color: #ababab;
	}
	
	